// <mixins>======================================================================
@import "_mixins";
// </mixins>=====================================================================

// <FONTS>=======================================================================

// <import fonts>================================================================
// &subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:500,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900);
// @import "_fonts";
// </import fonts>===============================================================

// <icons fonts>=================================================================
// @import "_icons"
// </icons fonts>================================================================

// <default fonts>===============================================================
$fontFamily: 'Raleway';
$fontSize: 16px;
// </default fonts>==============================================================

// </FONTS>======================================================================

// <variables>===================================================================
$minWidth: 320px;
$mw: 950;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// </variables>==================================================================

// <null style>==================================================================
@import "_null";
body {
    color: #000000;
    // font-size: $fontSize;
    font-family: $fontFamily;
    &._lock {
        overflow: hidden;
        // @media (max-width: $md3+px) {
        //     width: 100%;
        //     position: fixed;
        //     overflow: hidden;
        // }
    }
}
// </null style>=================================================================

// <wrapper>=====================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // &._loaded {

    // }
}
// </wrapper>====================================================================

// <main grid>===================================================================
.__container {
    // max-width: $md + px;
    margin: 0px auto;
    // @media (max-width: $md1+px) {
    //     max-width: 970px;
    // }
    // @media (max-width: $md2+px) {
    //     max-width: 750px;
    // }
    // @media (max-width: $md3+px) {
    //     max-width: none;
    //     padding: 0 10px;
    // }
}
// </main grid>===================================================================

// <main block>===================================================================
.page {
    flex: 1 1 auto;
}
div {
    
}
// </main block===================================================================

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &__container {
        display: flex;
        margin: 0px auto;
        max-width: 1240px;
        align-items:center;
        justify-content: space-between;
        min-height: 100px;

        @media (max-width: 768px) {
            min-height: 66px;
        }

        @media (max-width: 950px) {
            min-height: 78px;
        }
    }

    &__menu {
        
    }
}
.menu {
    display: flex;


    &__logo {

    }

    &__logo-url {
        display: block;
        height: 36px;
        width: 238px;
        background: url('../img/header/logo.png') 0 0 no-repeat;

        @media (max-width: 768px) {
            height: 24px;
            width: 152px;
            background: url('../img/header/logo_tablet.png') 0 0 no-repeat;
        }
    }

    &__icon {
        display: none;
        @media (max-width: 619px) {
            display: block;
            z-index: 5;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;
            margin: 2.5px 20px 0px 30px;

            & span,
            &::before,
            &::after {
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: #000;
                transition: all 0.3s ease 0s;
            }
            
            &::before,
            &::after {
                content: "";
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            & span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }

            &._active {
                & span {
                    transform: scale(0) translate(0px, -50%);
                }

                &::before {
                    top: 50%;
                    transform: rotate(45deg) translate(0, -50%);
                }

                &::after {
                    bottom: 50%;
                    transform: rotate(-45deg) translate(0, 50%);
                }
            }
        }
    }

    &__body {

    }

    &__list {
        display: flex;
        @media (max-width: 619px) {
            display: none;
        }
    }

    &__link {
        text-align: center;
        width: 100%;
        // margin: 0 auto;
        // overflow: hidden;
        margin: 0px 30px 0px 0px;
        font-size: 17px;
        font-weight: 800;
        line-height: 40px;
        letter-spacing: 1.275px;
        text-transform: uppercase;

        @media (max-width: 950px) {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.825px;
            margin: 0px 22px 0px 0px;
        }

        @media (max-width: 768px) {
            font-size: 11px;
            line-height: 20px;
            letter-spacing: 0.825px;
            margin: 0px 25px 0px 0px;
        }
        
        & span {
            position: relative;

            &::after {
                display: block;
                width: 110%;
                left: -5%;
                content: "";
                position: absolute;
                border-bottom: 5px solid #4BA87D;
                bottom: -6px;
                
            }
        }
    }

    &__search {
        background-color: #4BA87D;
        padding: 0px 20px;

        @media (max-width: 950px) {
            padding: 0px 16px;
        }

        @media (max-width: 768px) {
            padding: 0px 13.5px;
        }
    }

    &__search-link {
        font-size: 17px;
        font-weight: 800;
        line-height: 40px;
        letter-spacing: 1.275px;
        text-transform: uppercase;
        color: #fff;

        @media (max-width: 950px) {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 1px;
        }

        @media (max-width: 768px) {
            font-size: 11px;
            line-height: 22px;
            letter-spacing: 0.825px;
        }
    }
}







